body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
  overflow: scroll;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #222;
  font-weight: 600;
}

input {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  transition: all;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: scroll;
  background-color: #fafafa;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

tbody tr {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

tbody tr:hover {
  background-color: #eef1ff;
  transform: scale(1.02);
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

img {
  border-radius: 50%;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  table {
    font-size: 0.9rem;
    overflow: scroll;
  }

  input {
    width: 100%;
  }

  th,
  td {
    padding: 8px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {

  th,
  td {
    padding: 6px;
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  table {
    font-size: 0.8rem;
    overflow: scroll;
  }

  input {
    font-size: 0.9rem;
  }

  h1 {
    margin-bottom: 15px;
  }


}